extends _layout

block styles
    link(href='/draft.css' rel='stylesheet')

block content
    p.text-muted The results of the mock draft are 
        a(href='/mock-draft') here
        | .
    p.lead The draft began on June 11th, 2022 at 8:00 PM CDT and ended at 10:00 PM CDT. You can view the results of the draft below.

    //.row.mb-4
        #previous.col-3.pt-2.mx-auto.border.border-danger
            h5 Previous Pick [
                span#previous-number= previousPick ? previousPick._id : '-'
                | ]
            .mb-1 GM:
                | 
                span#previous-gm= previousPick ? previousPick.gm : '-'
            .mb-1 Team:
                | 
                span#previous-team= previousPick ? previousPick.team : '-'
            .mb-3 Player:
                | 
                span#previous-player= previousPick ? previousPick.player : '-'
        #currentPick.col-3.pt-2.mx-auto.border.border-success
            h5.mb-3 Current Pick [
                span#current-number= currentPick ? currentPick._id : '-'
                | ]
            .mb-1 GM:
                | 
                span#current-gm= currentPick ? currentPick.gm : '-'
            .mb-1 Team:
                | 
                span#current-team= currentPick ? currentPick.team : '-'
        #nextPick.col-3.pt-2.mx-auto.border.border-warning
            h5 Next Pick [
                span#next-number= nextPick ? nextPick._id : '-'
                | ]
            .mb-1 GM:
                | 
                span#next-gm= nextPick ? nextPick.gm : '-'
            .mb-1 Team:
                | 
                span#next-team= nextPick ? nextPick.team : '-'
            .mb-3

    h4.mt-3 Draft Picks:
    table#table.table.table-striped
        thead
            th(onclick='sortTable(0, isInt=true)' scope='col') #
            th(                       scope='col') Player
            th(onclick='sortTable(2)' scope='col') Username
            th(onclick='sortTable(3)' scope='col') Drafting Team
            th(onclick='sortTable(4)' scope='col') Drafting GM
            th(onclick='sortTable(5, isInt=true)' scope='col') Combine Score
            th(onclick='sortTable(6, isInt=true)' scope='col'): a(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Modified Combine Score.') MCS
        tbody 
            each pick, index in picks
                - let username = pick.player
                - let player = players.filter(element => element.username === username)[0]

                tr(player=player.username)
                    td= player.draftPick
                    td= player.firstName + ' ' + player.lastName
                    td: a(href=encodeURI('/players/' + player.username))= player.username
                    td: a(href=encodeURI('/teams/' + picks[player.draftPick - 1].team))= picks[player.draftPick - 1].team
                    td: a(href=encodeURI('/gms/' + picks[player.draftPick - 1].gm))= picks[player.draftPick - 1].gm
                    td.combine-score= (player.combine) ? player.combine.slice(0, 20).reduce((prev, next) => prev + next) : -100
                    td.mcs= player.mcs= player.combine ? Math.round(player.combine[20]) : -100

block scripts
    script(src="/table.js")
    script(type="module" src="/draft.js")