extends _layout

block styles
    link(href='/draft.css' rel='stylesheet')

block content
    p.text-muted You can view the results of the mock draft 
        a(href='/mock-draft') here
        | .
    p.lead The draft begins on June 11th, 2022 at 8:00 PM CDT.
    .row.mb-4
        #previous.col-3.pt-2.mx-auto.border.border-danger
            if previousPick
                h5 Previous Pick [
                    span#previous-number= previousPick._id
                    | ]
                .mb-1 GM:
                    | 
                    span#previous-gm= previousPick.gm
                .mb-1 Team:
                    | 
                    span#previous-team= previousPick.team
                .mb-3 Player:
                    | 
                    span#previous-player= previousPick.player
            else 
                h5 Previous Pick
                .mb-1 GM: -
                .mb-1 Team: -
                .mb-3 Player: -
        #currentPick.col-3.pt-2.mx-auto.border.border-success
            if currentPick
                h5.mb-3 Current Pick [
                    span#current-number= currentPick._id
                    | ]
                .mb-1 GM:
                    | 
                    span#current-gm= currentPick.gm
                .mb-1 Team:
                    | 
                    span#current-team= currentPick.team
                .mb-3 Time remaining:
                    | 
                    span#current-minute 10
                    | :
                    span#current-second 00
            else
                h5 Current Pick 
                .mb-1 GM: -
                .mb-1 Team: -
                .mb-3 Time remaining:
                    | 
                    span#current-minute 10
                    | :
                    span#current-second 00
        #nextPick.col-3.pt-2.mx-auto.border.border-warning
            if nextPick
                h5 Next Pick [
                    span#next-number= nextPick._id
                    | ]
                .mb-1 GM:
                    | 
                    span#next-gm= nextPick.gm
                .mb-1 Team:
                    | 
                    span#next-team= nextPick.team
                .mb-3
            else
                h5 Next Pick
                .mb-1 GM: -
                .mb-1 Team: -
                .mb-3
    
    h4 Draft Order:
    p Use your mouse to drag the draft order left and right.
        | 
        | The draft order can also be found
        | 
        a(href='/draft-order') here
        | .
    #draft-order.d-flex.flex-nowrap.overflow-auto
        each pick in picks
            .me-2.p-3.border.text-nowrap
                h6.m-0 Pick #{pick._id}
                div=pick.gm


    h4.mt-3 Remaining Players:
    table#table.table.table-striped
        thead
            th(onclick='sortTable(0)' scope='col') Player
            th(                       scope='col') 
            th(onclick='sortTable(2)' scope='col') Profile
            th(onclick='sortTable(3)' scope='col') Grade
            th(onclick='sortTable(4, isInt=true)' scope='col') Combine Score
            th(onclick='sortTable(5)' scope='col'): a(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Modified Combine Score.') MCS
            th(onclick='sortTable(6)' scope='col') Projected
        tbody 
            each player in players
                tr(player=player.username)
                    td= player.firstName + ' ' + player.lastName
                    if currentPick && (username === currentPick.gm)
                        td: button.btn.btn-primary(onclick=`draftPlayer("${player.username}")`) Draft
                    else
                        td: button.btn.btn-primary(onclick=`draftPlayer("${player.username}")` disabled) Draft
                    td: a(href='/players/' + player.username)= player.username
                    td= player.grade
                    td.combine-score= (player.combine) ? player.combine.slice(0, 19).reduce((prev, next) => prev + next) : -100
                    td.mcs= player.mcs= player.combine ? Math.round(player.combine[20]) : -100
                    td.projected

block scripts
    script(src="/table.js")
    script(type="module" src="/draft.js")