extends _layout

block content
    p: h2 Editing #{user.username}'s bio:
    if user.bio
        h4 Current bio:
        include _bio.pug

    p: h4 Enter your new bio here:
    form#form
        .col-12.mb-3
            label.form-label(for='general') General Information:
            textarea#general.form-control(name='general')= user.bio ? user.bio.generalBio : ''
        .col-12.mb-3
            label.form-label(for='experience') Scibowl Experience/Awards:
            input#experience.form-control(name='experience' type='text' value=user.bio ? user.bio.experience : '')
        .col-12.mb-3
            label.form-label(for='competitions') Olympiads/Other Competitions:
            input#competitions.form-control(name='competitions' type='text' value=user.bio ? user.bio.competitions : '')
        .col-12.mb-3
            label.form-label(for='textbooks') Textbooks/Courses:
            input#textbooks.form-control(name='textbooks' type='text' value=user.bio ? user.bio.textbooks : '')
        button#submission.btn.btn-primary(type='submit') Submit

block scripts
    script(src='/edit-bio.js')
