extends _layout

block content
    if team
        p: h3 Team #{team.name}

        p
            strong General Manager: 
            a(href='/gms/' + team.gm)= team.gm

        h4 Players:

        table.table.table-striped
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') Username
                    th(onclick='sortTable(1)' scope='col') Discord
                    th(onclick='sortTable(2)' scope='col') Name
                    th(onclick='sortTable(3)' scope='col') Grade
            tbody
                each player in players
                    tr
                        td: a(href=`/players/${encodeURIComponent(player.username)}`)= player.username
                        td= player.discord
                        td= player.firstName + ' ' + player.lastName
                        td= player.grade

        if user.role == 'GM'
            .d-flex.mb-3
                button.btn.btn-primary.disabled(onclick='editRoster()') Edit Roster
                button.btn.btn-primary.ms-2.disabled(onclick='proposeTrade()') Propose Trade
                button.btn.btn-primary.ms-auto(data-bs-toggle="modal" data-bs-target="#change-team-name-modal") Change Team Name

        h4 Draft Picks
        table.table.table-striped
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') #
                    th(onclick='sortTable(1)' scope='col') Pick
                    th(onclick='sortTable(2)' scope='col') Player
            tbody
                if team.draft_picks
                    each pick, index in picks.filter(pick => team.draft_picks.includes(pick._id))
                        tr
                            td= index + 1
                            td= pick._id
                            td: a(href=`/players/${encodeURIComponent(pick.player)}`)= pick.player

        #change-team-name-modal.modal.fade(tabindex="-1" aria-labelledby="change-team-name-modal" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        h5.modal-title Change Team Name
                        button.btn-close(data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        form
                            .mb-3
                                label.col-form-label(for="old-team-name") Old Team Name
                                input#old-team-name.form-control(type="text" value=team.name disabled)
                            .mb-3
                                label.col-form-label(for="new-team-name") New Team Name
                                input#new-team-name.form-control(type="text")
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                        button.btn.btn-primary(type="button" data-bs-dismiss="modal" onclick='changeTeamName()') Change Team Name
    else if user.role == 'GM'
        button#createTeam.btn.btn-primary(onclick='createTeam()') Create Team

block scripts
    script(src='/my-team.js')
    script(src='/table.js')