extends _layout

block content
    if user && user.role === 'Admin'
        button.btn.btn-primary.mb-3(type='button' data-bs-toggle='modal' data-bs-target='#add-result') Add Result

        #add-result.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog.modal-xl: .modal-content
                .modal-header
                    h5#modal-title.modal-title Add Result
                    button#close.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form#form
                        .row.mb-3: .col-12: input#week.form-control(type='number' placeholder='Enter Week Number')
                        .row.mb-3: .col-12: select#matchup.form-select
                            option(selected) Select a matchup

                        each location in ['home', 'away']
                            div(id=`${location}-team`)
                                .row.mb-2
                                    .col-auto
                                        span.h6: u #{location === 'home' ? 'Home' : 'Away'} Team:
                                        |  
                                        span(id=`${location}-team-name`) 
                                .row.mb-2.align-items-center
                                    .col-2: b Team:
                                    .col-2: input.form-control(id=`${location}-team-bonus` type='number' placeholder='Bonus Points')
                                    .col-auto
                                        | Total Points: 
                                        span(id=`${location}-team-score`) 0
                                        |  points

                                each index in [1, 2, 3, 4, 5, 6, 7]
                                    .row.mb-3.align-items-center(id=`player-${index}-${location}`)
                                        .col-2
                                            span(id=`player-${index}-${location}-name`) Player #{index}
                                        .col-2: input.form-control(id=`player-${index}-${location}-tuh` type='number' placeholder='TUH')
                                        .col-2: input.form-control(id=`player-${index}-${location}-4s` type='number' placeholder='4s')
                                        .col-2: input.form-control(id=`player-${index}-${location}-0s` type='number' placeholder='0s')
                                        .col-2: input.form-control(id=`player-${index}-${location}-negs` type='number' placeholder='-4s')
                                        .col-2
                                            span(id=`player-${index}-${location}-points`) 0
                                            |  points

                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#submit.btn.btn-primary(type='button') Add Result


    h4 Week 1:
    each result in results
        - let totals = { home: Array(5).fill(0), away: Array(5).fill(0) }

        .row.text-center
            each location in ['home', 'away']
                .col-6
                    h5 #{result[location].name}: #{result[location].score} points
                    table.table.table-sm
                        thead: tr
                            th= result[location].name
                            th TUH
                            th 4s
                            th 0s
                            th -4s
                            th Points
                        tbody
                        each player, name in result[location]['players']
                            - if (!player) continue
                            tr
                                td: a(href=`/players/${name}`)= name
                                td= player.tuh
                                - totals[location][0] += player.tuh
                                td= player.statline[0]
                                - totals[location][1] += player.statline[0]
                                td= player.statline[1]
                                - totals[location][2] += player.statline[1]
                                td= player.statline[2]
                                - totals[location][3] += player.statline[2]
                                td= player.points
                                - totals[location][4] += player.points
                        
                        tfoot: tr
                            th Total
                            th= Math.round(totals[location][0] / 4)
                            th= totals[location][1]
                            th= totals[location][2]
                            th= totals[location][3]
                            th= totals[location][4]
                
                    p <b>Bonuses:</b> #{result[location].bonus} points on #{totals[location][1]} bonuses heard for #{Math.round(10*result[location].bonus / totals[location][1]) / 10} points per bonus

block scripts 
    script.
        var schedule = !{JSON.stringify(schedule)};
        var teams = !{JSON.stringify(teams)};
    script(src='/results.js')