extends _layout

block content
    p.lead Standings after Round 2:

    table#table.table.table-hover.text-center
        thead
            tr
                th(onclick='sortTable(0, isInt=true)' scope='col') #
                th.text-start(onclick='sortTable(1)' scope='col') Team Name
                th(onclick='sortTable(2, isInt=true)' scope='col') Record
                th(onclick='sortTable(3, isInt=true)' scope='col') GP
                th(onclick='sortTable(4, isInt=true)' scope='col') TUH
                th(onclick='sortTable(5, isInt=true)' scope='col') 4s
                th(onclick='sortTable(6, isInt=true)' scope='col') 0s
                th(onclick='sortTable(7, isInt=true)' scope='col') -4s
                th(onclick='sortTable(8, isInt=true)' scope='col') Bonus
                th(onclick='sortTable(9, isInt=true)' scope='col') PPB
                th(onclick='sortTable(10, isInt=true)' scope='col') Points
                th(onclick='sortTable(11, isInt=true)' scope='col') PPG
                th(onclick='sortTable(12, isInt=true)' scope='col') Pts/22
        tbody
            each team, index in teams
                tr
                    td= index + 1
                    td.text-start: a(href=`/teams/${encodeURIComponent(team.name)}`)= team.name
                    td #{team.stats.record[0]}-#{team.stats.record[1]}
                    td= team.stats.gp
                    td= team.stats.tuh
                    td= team.stats.statline[0]
                    td= team.stats.statline[1]
                    td= team.stats.statline[2]
                    td= team.stats.bonuses.points
                    td= Math.round(team.stats.bonuses.points / team.stats.bonuses.num_heard * 10) / 10
                    td= team.stats.points
                    td= team.stats.points / team.stats.gp
                    td= Math.round(team.stats.points / team.stats.tuh * 22 * 10) / 10

block scripts
    script(src="/table.js")