extends _layout

block content
    if team
        p: h3 Team Info - #{team.name}
        //- p
        //-     strong Team Name:
        //-     = ' ' + team.name

        p
            strong General Manager: 
            a(href=encodeURI('/gms/' + gm.username))= gm.username

        h4 Players:

        table.table.table-striped
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') Username
                    th(onclick='sortTable(1)' scope='col') Discord
                    th(onclick='sortTable(2)' scope='col') Name
                    th(onclick='sortTable(3)' scope='col') Grade
            tbody
                each player in players
                    tr
                        td: a(href=encodeURI('/players/' + player.username))=player.username
                        td= player.discord
                        td= player.firstName + ' ' + player.lastName
                        td= player.grade

        h4 Draft Picks
        table.table.table-striped
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') #
                    th(onclick='sortTable(1)' scope='col') Player
                    th(onclick='sortTable(2)' scope='col') Trade History
            tbody
                if picks
                    each pick, index in picks
                        tr
                            td= index + 1
                            td= pick + 1
                            td: a Trade History

        //- button.btn.btn-primary(onclick='editRoster()') Edit Roster
        //- button.btn.btn-primary(onclick='proposeTrade()') Propose Trade
    else
        button#createTeam.btn.btn-primary(type='button') Create Team

block scripts
    script(src='/table.js')