extends _layout

block content
    if team
        p: h3 Team Info - #{team.name}
        //- p
        //-     strong Team Name:
        //-     = ' ' + team.name

        p
            strong General Manager: 
            a(href=encodeURI('/gms/' + gm.username))= gm.username

        h4 Players:

        table.table.table-striped
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') Username
                    th(onclick='sortTable(1)' scope='col') Discord
                    th(onclick='sortTable(2)' scope='col') Name
                    th(onclick='sortTable(3)' scope='col') Grade
            tbody
                each player in players
                    tr
                        td: a(href=encodeURI('/players/' + player.username))=player.username
                        td= player.discord
                        td= player.firstName + ' ' + player.lastName
                        td= player.grade

        h4 Draft Picks
        table.table.table-striped
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') #
                    th(onclick='sortTable(1)' scope='col') Player
                    th(onclick='sortTable(2)' scope='col') Trade History
            tbody
                if picks
                    each pick, index in picks
                        tr
                            td= index + 1
                            td= pick + 1
                            td: a Trade History

        h4 Stats:
        table.table
            thead: tr
                th(onclick='sortTable(0, isInt="true")' scope='col') Round
                th Matchup
                th TUH
                th(onclick='sortTable(3, isInt="true")' scope='col') 4s
                th(onclick='sortTable(4, isInt="true")' scope='col') 0s
                th(onclick='sortTable(5, isInt="true")' scope='col') -4s
                th(onclick='sortTable(6, isInt=true)' scope='col') Bonus
                th(onclick='sortTable(7, isInt=true)' scope='col') PPB
                th(onclick='sortTable(8, isInt="true")' scope='col') Points

            tbody#table
                tr
                for result in results.sort((a, b) => a._id - b._id)
                    for location in ['home', 'away']
                        - let totals = Array(5).fill(0)
                        if result[location].name == team.name
                            -
                                Object.values(result[location].players).forEach(value => {
                                    totals[0] += 1;
                                    totals[1] += value.tuh;
                                    totals[2] += value.statline[0];
                                    totals[3] += value.statline[1];
                                    totals[4] += value.statline[2];
                                })
                            tr 
                                td= result.week
                                td= (location === 'home') ? 'vs. ' + result.away.name : 'at ' + result.home.name
                                td= totals[1]
                                td= totals[2]
                                td= totals[3]
                                td= totals[4]
                                td= result[location].bonus
                                td= Math.round(10 * result[location].bonus / totals[2]) / 10
                                td= result[location].score
            tfoot
                tr
                    th
                    th Averages:
                    th= Math.round(team.stats.tuh / team.stats.gp)
                    th= Math.round(10 * team.stats.statline[0] / team.stats.gp) / 10
                    th= Math.round(10 * team.stats.statline[1] / team.stats.gp) / 10
                    th= Math.round(10 * team.stats.statline[2] / team.stats.gp) / 10
                    th= Math.round(10 * team.stats.bonuses.points / team.stats.gp) / 10
                    th= Math.round(10 * team.stats.bonuses.points / team.stats.bonuses.tuh / team.stats.gp) / 10
                    th= Math.round(10 * team.stats.points / team.stats.gp) / 10

                tr
                    th
                    th Totals:
                    th= team.stats.tuh
                    th= team.stats.statline[0]
                    th= team.stats.statline[1]
                    th= team.stats.statline[2]
                    th= team.stats.bonuses.points
                    th= Math.round(10 * team.stats.bonuses.points / team.stats.bonuses.tuh) / 10
                    th= team.stats.points
    else
        button#createTeam.btn.btn-primary(type='button') Create Team

block scripts
    script(src='/table.js')