extends _layout

block content
    if team
        p: h3 Team Info - #{team.name}
        //- p
        //-     strong Team Name:
        //-     = ' ' + team.name

        p
            strong General Manager: 
            a(href='/gm/' + gm.username)= gm.username

        h4 Players:

        table.table
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') Username
                    th(onclick='sortTable(1)' scope='col') Discord
                    th(onclick='sortTable(2)' scope='col') Name
                    th(onclick='sortTable(3)' scope='col') Grade
                    th(onclick='sortTable(4)' scope='col') Team
            tbody
                each user in players
                    tr
                        td: a(href=user.username + '/')=user.username
                        td= user.discord
                        td= user.firstName + ' ' + user.lastName
                        td= user.grade
                        if user.team
                            td= user.team.name
                        else
                            td= '-'

        h4 Draft Picks
        table.table
            thead
                tr
                    th(onclick='sortTable(0)' scope='col') #
                    th(onclick='sortTable(1)' scope='col') Player
                    th(onclick='sortTable(2)' scope='col') Trade History
            tbody
                if picks
                    each pick, index in picks
                        tr
                            td= index + 1
                            td= pick + 1
                            td: a Trade History

        //- button.btn.btn-primary(onclick='editRoster()') Edit Roster
        //- button.btn.btn-primary(onclick='proposeTrade()') Propose Trade
    else
        button#createTeam.btn.btn-primary(type='button') Create Team

block scripts
    script(src='/create-team.js')
    script(src='/table.js')