extends _layout

block content
    p.lead #{description}
    p There are currently #{Object.keys(users).length} #{role}s registered 
        if role === 'player'
            | and #{users.reduce((prev, current) => prev + (current.eligible ? 1 : 0), 0)} players eligible to play. 
        | Below is a list of all #{role}s:
    table#table.table.table-hover
        thead
            tr
                th(onclick='sortTable(0)' scope='col') Username
                th(onclick='sortTable(1)' scope='col') Discord
                th(onclick='sortTable(2)' scope='col') Name
                th(onclick='sortTable(3)' scope='col') Grade
                th(onclick='sortTable(4)' scope='col') Team
        tbody
        if users
            each user in users
                if role === 'player' && !user.eligible
                    tr.table-danger
                        td: a(href=`/${role.toLowerCase()}s/${user.username}`)= user.username
                        td= user.discord
                        td= user.firstName + ' ' + user.lastName
                        td= user.grade
                        if user.team
                            td: a(href=`/teams/${user.team}`)= user.team
                        else
                            td= '-'
                else
                    tr
                        td: a(href=`/${role.toLowerCase()}s/${user.username}`)= user.username
                        td= user.discord
                        td= user.firstName + ' ' + user.lastName
                        td= user.grade
                        if user.team
                            td: a(href=`/teams/${user.team}`)= user.team
                        else
                            td= '-'

block scripts
    script(src='/table.js')